# Diretórios e ficheiros gerados pelo Composer e npm
/vendor/
/node_modules/
composer.phar
npm-debug.log
yarn-error.log
.pnp.cjs
.pnp.loader.cjs
.npm/

# Ficheiros de ambiente e configuração sensíveis
.env
.env.* # Esta regra apanha .env.dev.docker, .env.docker, .env.dusk.example, .env.testing-ci, .env.testing.example, .env.tests, .env.unit-tests
.env.backup
Homestead.yaml
Homestead.json
docker.env
.htpasswd
web.config
/config/jwt.php

# Ficheiros de Cache, Logs e Temporários (no diretório storage e outros)
/storage/*.key
/storage/debugbar/
/storage/dumps/
/storage/laravel-backups/
/storage/logs/
/storage/framework/
/storage/app/*.sqlite
/storage/app/private_uploads/
/storage/private_uploads/
/storage/*.csv
/storage/imports/
/storage/backups/
/storage/*verifica*
/storage/public/
/app/database/*.sqlite
/app/storage/meta/services.json
logs/
output/
*.log
*.retry
*.cache
/.phpunit.cache/
/.phplint-cache/

# Ficheiros de Build e Ativos Gerados
/public/hot
/public/storage
/public/build/
/public/uploads/
/public/apk/
/public/public/
/public/vendor/
/bootstrap/compiled.php
build/
Mix-manifest.json

# Ferramentas de desenvolvimento, IDEs e ficheiros de testes
.idea/
.vscode/
.DS_Store
.vagrant/
.couscous/
phpstan.neon
phpstan.neon.dist
phpstan.neon.example
phpmd.xml
_ide_helper.php
.phpstorm.meta.php
_ide_helper_models.php
tests/_data/scenarios
tests/_output/
tests/_support/_generated/
tests/coverage/
crowdin.yaml
phpDocumentor.phar
run_expiring_alerts.sh
snipeit.sh.1

# Chaves OAuth e Certificados TLS
/storage/oauth-private.key
/storage/oauth-public.key
storage/ldap_client_tls.cert
storage/ldap_client_tls.key

# Ficheiros de binários/executáveis
/bin/

# Regras genéricas com escaped dots para evitar conflitos com outros ficheiros
\.php_cs\.dist

# Ficheiros de Documentos, Dados e Backups
*.pdf
*.xls
*.xlsx
*.csv
*.bkp
*.bak
*.tmp
*.zip
*.tar
*.gz
*.rar
*.7z
*.db
*.old
Thumbs.db
*.png
*.jpg
*.jpeg
*.tif
*.tiff
*.gif
*.bmp
*.PDF
*.JPG
*.JPEG
*.PNG
*.GIF